<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
      <div style="display:flex;width:100%">
        <img class = "logo" alt="inria" src="{{ 'assets/imgs/logo_inria.svg' | relative_url}}"/>
        <img class = "logo" alt="ENS|PSL" src="{{ 'assets/imgs/logo_ens.png' | relative_url}}"/>
        <img class = "logo" alt="PR[AI]RIE" src="{{ 'assets/imgs/logo_prairie.png' | relative_url}}"/>
        <img class = "logo" alt="AI4IDF" src="{{ 'assets/imgs/logo_ai4idf.png' | relative_url}}"/>
      </div>

      {%- include social.html -%}

    </div>
</footer>

<style>
footer img.logo {
  height: 60px;
  margin:auto;
  flex-shrink: 1;
  min-width: 0px;
}

.social-media-list {
  text-align: center;
  margin-top: 30px;
}
</style>