
.nav-top-item {
  position: relative;
  margin-left: 5%;
}

.trigger {
  display:flex;
  size: auto;
}

.sublinks {
  list-style-type: none;
  background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  .sublinks a.page-link {
    margin-right: 16px;
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 600px) {
  .sublinks {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    margin-left: 0px;
  }

  .nav-top-item:hover .sublinks {
    display: block;
  }

  .sublinks a {
    padding: 12px;
    padding-left: 24px;
    padding-right: 64px;
  }

  .sublinks li:hover {
    background-color: #f1f1f1;
  }
}